*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(234, 209, 243);
    /* background: radial-gradient(circle, rgba(226,236,89,1) 0%, rgba(149,204,30,1) 100%); */
}
.container{
    width: 45%;
    height: 30%;
    background: rgb(152, 10, 204);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
input{
    width: 70%;
    border: 0;
    outline: none;
    height: 3rem;
    border-radius: 3px;
    padding: 1rem;
    font-size: 1rem;
    color: #0a0a0a;
    margin-right: 1rem;
}
input:focus{
    border: 3px solid #6b0449;
}
.btn{
    width: 30%;
    height: 3rem;
    background: #6b0449;
    font-size: .9rem;
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
.description{
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 1rem;
}